.container {
   width: 100%;
   max-width: 1096px;
   margin: 0 auto;
   overflow: hidden;

   @media screen and (max-width: 1200px) {
      max-width: 900px;
   }

   @media screen and (max-width: 1024px) {
      max-width: 800px;
   }

   @media screen and (max-width: 850px) {
      max-width: 700px;
   }

   @media screen and (max-width: 768px) {
      max-width: 100%;
      padding: 0 34px;
   }

   @media screen and (max-width: 425px) {
      padding: 0 24px;
   }
}
