.newsletters {
   padding-top: 90px;

   &_box {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 32px;

      @media screen and (max-width: 850px) {
         flex-flow: column;
         align-items: flex-start;
      }

      &__navbar {
         @media screen and (max-width: 850px) {
            margin-bottom: 24px;
         }

         &___ul {
            display: flex;

            @media screen and (max-width: 850px) {
               &____item:last-child {
                  margin-left: 0px;
               }
            }

            &____item {
               display: flex;
               align-items: center;
               margin-left: 40px;
               cursor: pointer;

               @media screen and (max-width: 1024px) {
                  margin-left: 30px;
               }

               @media screen and (max-width: 425px) {
                  margin-left: 20px;
               }

               svg {
                  margin-left: 8px;
               }
            }
         }
      }

      &__newsletters {
         width: 450px;
         position: relative;

         @media screen and (max-width: 1024px) {
            width: 350px;
         }

         @media screen and (max-width: 850px) {
            width: 100%;
         }

         input {
            z-index: 1;
         }

         button {
            position: absolute;
            top: 1px;
            left: 1px;
            padding: 12px 15px;
            background-color: #09090a;
            border: none;
            outline: none;
            z-index: 10;
            cursor: pointer;

            h6 {
               pointer-events: none;
            }
         }
      }
   }
}
