.forgetPassword {
   display: flex;
   flex-flow: column;
   align-items: center;
   margin-bottom: 50px;

   &_form {
      margin-bottom: 0 !important;

      button {
         transition: 0.3s all;
      }

      &__buttonActive {
         h6 {
            color: var(--white) !important;
         }

         background-color: var(--orange) !important;
      }
   }
}
