.success {
   display: flex;
   flex-flow: column;
   align-items: center;
   margin-top: 64px;
   margin-bottom: 50px;

   &_form {
      margin-bottom: 0 !important;

      button {
         transition: 0.3s all;

         h6 {
            color: var(--white) !important;
         }
      }

      &__alert {
         display: flex;
         align-items: center;
         padding: 12px;
         background-color: #071c11;
         margin-bottom: 16px;

         svg {
            margin-left: 8px;
         }
      }
   }
}
